Datasource.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="servicegrid:servicetype:lapps.nlp:AbstractDatasource" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="servicegrid:servicetype:lapps.nlp:AbstractDatasource" xmlns:intf="servicegrid:servicetype:lapps.nlp:AbstractDatasource" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->

   <wsdl:message name="getMetadataRequest">

   </wsdl:message>

   <wsdl:message name="executeRequest">

      <wsdl:part name="input" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="getMetadataResponse">

      <wsdl:part name="getMetadataReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="executeResponse">

      <wsdl:part name="executeReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:portType name="AbstractDatasource">

      <wsdl:operation name="getMetadata">

         <wsdl:input message="impl:getMetadataRequest" name="getMetadataRequest"/>

         <wsdl:output message="impl:getMetadataResponse" name="getMetadataResponse"/>

      </wsdl:operation>

      <wsdl:operation name="execute" parameterOrder="input">

         <wsdl:input message="impl:executeRequest" name="executeRequest"/>

         <wsdl:output message="impl:executeResponse" name="executeResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AbstractDatasourceSoapBinding" type="impl:AbstractDatasource">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getMetadata">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMetadataRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="servicegrid:servicetype:lapps.nlp:AbstractDatasource" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMetadataResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="servicegrid:servicetype:lapps.nlp:AbstractDatasource" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="execute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="executeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="servicegrid:servicetype:lapps.nlp:AbstractDatasource" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="executeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="servicegrid:servicetype:lapps.nlp:AbstractDatasource" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="anc:AbstractDatasource">

      <wsdl:port binding="impl:AbstractDatasourceSoapBinding" name="AbstractDatasource">

         <wsdlsoap:address location="http://grid.anc.org:8080/service_manager/invoker/anc:AbstractDatasource"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>